<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <h1> this is Login page: </h1>


    <label for="uname"> User Name </label>
    <input type="text" id="uname" name="uname"> </br> </br>


    <label for="passx"> Password </label>
    <input type="password" id="passx" name="passx"> </br>

    <button type="submit"> Submit </button>


</form>

</body>
</html> -->








<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-[#F9F9FD]">
<div class="container flex justify-center items-center h-98vh ">
    <div class="login-box bg-white h-500 w-380 rounded-xl shadow-lg">
        <h1 class="title font-bold text-3xl mt-12 text-center">Login with email</h1>
    
        <form method="post">
            {% csrf_token %}
        <div class="form-container mt-6 mx-10">
            <h1 class="req text-xl font-semibold">Username</h1>
            <input class="input border-2 border-gray-300 rounded-md w-full h-11 px-4 mt-2 focus:ring-blue-500 focus:border-blue-500" placeholder="Username"  type="text"  name="uname">
            <h1 class="req text-xl font-semibold mt-5">Password</h1>
            <input class="input border-2 border-gray-300 rounded-md w-full h-11 px-4 mt-2 focus:ring-blue-800 focus:border-blue-800" type="password" placeholder="Password"  name="passx">
            <button class="login-button bg-blue-500 text-white rounded-full w-full h-11 flex justify-center items-center text-lg font-semibold mt-5 cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700" type="submit">Log in</button>
        </div>
        <div class="signup-section bg-gray-200 flex flex-col justify-center items-center rounded-xl h-32 mb-8 mx-10 mt-5">
            <h1 class="acnt text-xl font-semibold">Don't have an account yet?</h1>
            <a href="/signup" class="signup-link bg-white w-32 h-9 rounded-full flex justify-center items-center text-blue-500 font-semibold mt-2 hover:bg-gray-300 border-2 border-transparent hover:border-blue-500 transition duration-300 ease-in-out">Sign up</a>
        </div>

    </form>

    </div>
</div>
</body>
</html>
